h1 {
    color: red;
}

.flex {
    background-color: purple;
    /* float: left; */
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;

}

.flex>div {
    background-color: cyan;
    /* width: 100px; */
    font-size: 35px;
    margin: 10px;
    padding: 20px;

}


.flex .div1 {
    font-size: 120px;
}