#i1 {
    background-color: orange;
    font-size: 100px;
    float: left;
}

#i2 {
    background-color: red;
    font-size: 100px;
    float: right;
}

#i3 {
    clear: both;
}

#box {
    height: 100px;
    width: 30%;
    background-image: linear-gradient(to right, green, blue, red, orange, yellow);
}

/* div {
    height: 400px;
    width: 100%;
    background-image: radial-gradient(circle, green, blue, red, orange, yellow);
} */