.id {
    background-color: bisque;
    font-family: 'Anton', sans-serif;

}


.d {
    font-size: 50px;
}

.id h1,
p {
    color: red;
    text-shadow: -5px -10px gray;
}

.id p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}